<div class="row ">
    
        <div class="col-md-4 mt-2" >
    
   <img src="https://www.medibuddy.in/assets/logos/medibuddyWithName.svg" alt="medibuddy logo" height="50px" >
        </div>
        <div class="col-md-4 ">
    
      </div>
        <div class="col-md-4 d-flex  mt-2 justify-content-around ">
          <a routerLink="">For Employeers</a>
            <a  routerLink="" >AboutUs</a>
            <a routerLink="">Login</a>
           

        </div>
        </div>
        <router-outlet></router-outlet>
        
    
   
    




