<div class="row bg-primary">
<div class="col-md-12  text-center text-light fs-2 pt-5 ">
    Get Huge Savings on Medicines
</div>
<div class="row text-center pt-3 pb-5 d-flex justify-content-center align-items-center">
    <div class="col-md-3 text-light">
        <i class="fa-solid  fa-circle-check"></i> &nbsp;100 % Genuine Medicines
        <!-- fa-2x icon size increase -->
    </div>
    <div class="col-md-2 text-light">
        <i class="fa-solid fa-circle-check"> </i> &nbsp;Trusted Pharmacies
    </div>
  
    <div class="col-md-3 text-light">
        <i class="fa-solid fa-circle-check"> </i> &nbsp;Delivery to your doorstep
    </div>
  
    <div class="col-md-2 text-light">
        <i class="fa-solid fa-circle-check"> </i> &nbsp;Store Pick up
    </div>
  
  
</div>
</div>
<div class="container  ">
    
    <div class="input-group  p-3 px-5 rounded-5 shadow-sm ">
        <span class="input-group-text bg-body border-0">select city &nbsp;<i class="fa-solid fa-angle-down"></i></span>
        <input class=" border-0" type="text" aria-label="medicine" class="form-control" placeholder="search medicines">
        <span class="input-group-text bg-body border-0"><i class="fa-solid fa-magnifying-glass"></i>&nbsp;Search</span>
      </div>
</div>
<div class="container">
    <img src="../../assets/page1.png" alt="" class="mt-3" width="100%">
</div>


