<div class="container  mt-2 d-flex justify-content-center align-item-center w-100">
   <nav class="navbar navbar-expand-lg bg-body-tertiary w-100  d-flex justify-content-center align-item-center " >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex  w-100  align-item-center justify-content-center">
        <li class="nav-item ">
            <a  class="nav-link active px-5 text-center" aria-current="page"><img src="../../assets/doctor.png" width="75" height="75">
              <h6 class="py-2 ms-2 ">Talk To Doctor</h6>
            </a>
            
           
        </li>
        <li  class="nav-item ">
           <a  class="nav-link active px-5" aria-current="page" routerLink="/medicine"><img src="../../assets/medicine.png" width="75" height="75">
            <h6 class="py-2 ms-2">Medicine</h6>
          </a> 
         
        </li>
        <img class="w-20 "src="../../assets/gold.PNG" alt="medibuddy logo" width="75">
        <li  class="nav-item ">
            <a  class="nav-link active px-5" aria-current="page"> <img src="../../assets/insurance.png" width="75" height="75">
              <h6 class="py-2 ms-2">Insurance</h6>
            </a>
            
        </li>
       
        <li  class="nav-item ">
            <a  class="nav-link active px-5" aria-current="page"><img src="../../assets/lab.png" width="75" height="75">
              <h6 class="py-2 ms-2">Lab Test </h6>
            </a>
            
        </li>
    </ul>
   </nav>
</div>
    <!-- <a class="router-link-active"> 
        <div><img src="../../assets/doctor.png"></div>
        <div style="text-decoration: none;">Consultant</div>
    </a>
   
   <a> <img src="../../assets/medicine.png"></a>
   <img src="../../assets/gold.PNG" alt="medibuddy logo">
   <a> <img src="../../assets/insurance.png"></a>
   <a><img src="../../assets/lab.png"></a>
     -->

<div class="container shadow  mt-3 d-flex justify-content-around  rounded-pill " style="height: 20%;">
    <div class="my-5 h5">Consult with Top Doctors Online, 24x7</div>
     <button class="rounded-pill bg-primary text-light border-0 d-flex justify-content-around cursor-pointer px-5 py-2 my-5">
        <a>Start Consultation <i class="bi bi-arrow-right"></i></a>
       <!-- <img class="text-light pt-1 "src="../../assets/arrow.png" width="20px"> -->
        <!-- <i class="bi bi-arrow-right"></i> -->
    
    </button>
   
    
</div>

<div id="carouselExample" class="carousel slide w-100 mt-3 container  ">
    <div class="carousel-inner ">
      <div class="carousel-item active ">
        <img src="../../assets/page1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="../../assets/page2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/page3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/page4.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- <div class="container shadow py-1  mt-4 rounded-4">
    <span ><img src="../../assets/NEO.jpg" height="4%"></span>
 <span>
  Create/Link your ABHA Health IDCreate
  Health ID's For You & Your Family Members and Build Your Health Profile
</span>
<span>
  <button class="bg-primary text-light border-0 rounded-3 py-2 px-2 ">Create Now</button>
</span>


  </div> -->
  <div class="container  shadow py-1  mt-4 rounded-4">
<img src="https://www.medibuddy.in/assets/ABHA.svg" alt="" width="70%">
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="fs-5 fw-bold">Watch Amitabh Bachchan emphasize the importance <br>of Unlimited Expert Doctor <br>Consultations online for the entire family.</div>
        <div class=" fw-bold mt-5" style="padding-left:33%">Download the App</div>
        <div class="" ><span class="d-flex  mt-3  ">
          <a class="px-5" >
            <img src="../../assets/google play.png" alt="" width="50%">
          </a>
          <a>
            <img src="../../assets/ios.png" alt=""  width="50%">
          </a>
        </span></div>
        <div>
       
        </div>
      </div>
      <div class="col-md-6">
       <!-- <video width="100%" height="100%" controls="" poster="https://www.medibuddy.in/assets/ab-main-page.webp" class="br-10"><source src="https://www.medibuddy.in/assets/mb-amitabh.mp4" type="video/mp4"></video> -->
<video controls src="https://www.medibuddy.in/assets/mb-amitabh.mp4" type="video/mp4"  poster="https://www.medibuddy.in/assets/ab-main-page.webp"  width="100%" height="100%" ></video>
      </div>
      
    </div>
  </div>

  <div class="container mt-3">
    <div class="row">
    <div class="col-md-6 ">
<span class="text-primary fs-5">Meddi</span><span class="text-danger fs-5">Buddy</span><span class=" text-warning fs-5 px-2">Gold</span>
  <div class="mt-4 fw-bold fs-5 text-primary">Give the care your<br> family deserve</div> 
  <div class="mt-4 fw-bold">Unlimited Consultations with top Doctors <br>for 6 family members in 18+ specialities</div>
<button class="mt-4 bg-warning rounded-pill border-0 p-3  ">Buy MediBuddy Gold<i class="bi bi-arrow-right"></i></button>
</div>

    <div class="col-md-6 d-flex">
      <div class="card rounded-3 shadow p-3 " style="width: 12rem;">
        <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg" class="card-img-top" alt="...">
        <hr class="text-warning">
        <div class="card-body">
          <h5 class="card-title text-primary">Ultimated free Consultations</h5>
          <p class="card-text ">Get unlimited free consultations with all<b>doctors 24x7</b> </p>
          
        </div>
      </div>

      <div class="card rounded-3 shadow p-3 mx-4 mt-5" style="width: 12rem;">
        <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" class="card-img-top" alt="..." >
        <hr class="text-warning">
        <div class="card-body">
          <h5 class="card-title text-primary">Free For Full Family</h5>
          <p class="card-text ">Free consultations for upto<b>6 family members</b> </p>
          
        </div>
      </div>
    </div>

      <div class="row mt-5">
        <div class="col-md-6 "></div>
      <div class="col-md-6 d-flex ">

      <div class="card rounded-3 shadow p-3" style="width: 12rem;">
        <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg" class="card-img-top" alt="..." >
        <hr class="text-warning">
        <div class="card-body">
          <h5 class="card-title text-primary">Free For All Health Problems</h5>
          <p class="card-text ">Consult with any doctor from<b>18 departments </b> at any time</p>
          
        </div>
      </div>

      <div class="card rounded-3 shadow p-3 mx-4 mt-5" style="width: 12rem;">
        <img src="https://www.medibuddy.in/assets/services/mb-gold/video-consultation.svg" class="card-img-top" alt="..." >
        <hr class="text-warning">
        <div class="card-body">
          <h5 class="card-title text-primary">Video Consultations</h5>
          <p class="card-text ">Video Consults with top doctors<b>24x7</b> </p>
          
        </div>
      </div>


    </div>
  </div>
</div>
</div>
<div class="container mt-5">
  <p class="fs-5 fw-bold">Insurance</p>
  <div class="d-flex">
    <div class="card mb-3 shadow rounded-2 me-3"style="width: 18rem;" *ngFor="let item of InsuranceData ">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <!-- <i class="bi bi-arrow-right px-5"></i> -->
        <hr>
        <p class="card-text">{{item.body}}</p>
        <img class="ps-5" src="https://www.medibuddy.in/assets/services/insurance/ecard.svg">
        <!-- <i class="fa-regular fa-clipboard"></i> -->
        
      </div>
    </div>
  </div>
</div>

<div class="container mt-3 shadow">
  <img src="https://www.medibuddy.in/assets/surgery.svg" alt="" width="100%">
</div>


